<style>
p { margin-bottom: 0; }
</style>


<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <%= @article.title %>  <small><%= @article.created_at.strftime('%Y-%m-%d') %></small>
      <% if @article.user_id == current_user_id %>
        <div class="pull-right">
          <%= link_to edit_article_path(@article), class: 'btn', style: 'padding: 0 0.75rem;' do %>
            <i class="icon-note"></i> 編集する
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="card-body">
      <%= raw(@article.remark) %>
    </div>
  </div>
</div>
