<style>
  p { margin-bottom: 0; }
</style>


<div class="animated fadeIn">
  <% @group.article_groups.where(menu_type: :top_page).each do |article_group| %>
    <% article = article_group.article %>
    <div class="card">
      <div class="card-header">
        <%= article.title %>  <small>[<%= article.author_name %> <%= article.created_at.strftime('%Y-%m-%d') %>]</small>
      </div>
      <div class="card-body">
        <%= raw(article.remark) %>
      </div>
    </div>
  <% end %>
</div>
