<fieldset class="fieldset" style="background-color: #f8f8f2">
  <legend class="fieldset"><%= name %></legend>
  <div class="clearfix <%= lang %>">
    <%= render 'bibles/phrase', phrase: passage, select_lemma: select_lemma %>
  </div>
</fieldset>
