@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: normal;
  src: url(Tinos-Regular.ttf);
}
@font-face {
  font-family: 'DavidLibre';
  font-style: normal;
  font-weight: normal;
  src: url(DavidLibre-Regular.ttf);
}

@font-face {
  font-family: 'NotoSerif';
  font-style: normal;
  font-weight: normal;
  src: url(NotoSerif-Regular.ttf);
}
@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: normal;
  src: url(RobotoMono-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  src: url(OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: normal;
  src: url(Cousine-Regular.ttf);
}


ul.passage {
  margin: 0 10px;
  padding: 0;
  list-style: none;
}

ul.passage li {
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.phrase-w {
  margin: 0 6px;
  text-shadow: 4px 4px 4px #aaa;
  display: inline-block;
  vertical-align: top;
}

.phrase-seg {
  display: inline-block;
  vertical-align: top;
}

.phrase-root {
  text-shadow: 4px 4px 4px #aaa;
  vertical-align: top;
}

.lemma,.morph {
  font-family: initial;
  font-size: x-small;
  text-shadow: initial;
}

.he {
  direction: rtl;
  text-align: right;
  font-size: 180%;
  font-family: 'Tinos', serif;
}

.grc {
  font-size: 130%;
  font-family: 'NotoSerif', serif;
}

.row-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.row-0 div {
  padding-right: 0px;
  padding-left: 0px;
}
